body{
	margin-left: 0px;
}
.e1_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:2405px;
	position:absolute;
}
.e1_48 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519.199951171875px;
	height:60px;
	position:absolute;
	left:-0.199951171875px;
	top:0px;
}
.e1_49 { 
	width:212.00001525878906px;
	height:55.572811126708984px;
	position:absolute;
	left:0px;
	top:4px;
}
.ei1_49_0_421 { 
	color:rgba(0, 0, 0, 1);
	width:152.3106689453125px;
	height:55.572811126708984px;
	position:absolute;
	left:59.689300537109375px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:30.000001907348633px;
	letter-spacing:-1.5;
}
.e1_50 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:47px;
	height:18px;
	position:absolute;
	left:1261px;
	top:21px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}


.e1_51 {
	 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:71px;
	height:18px;
	position:absolute;
	left:1337px;
	top:21px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e1_52 { 
	color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:59px;
	height:18px;
	position:absolute;
	left:1437px;
	top:21px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e17_31 { 
	width:1519px;
	height:689px;
	position:absolute;
	left:0px;
	top:61px;
}
.e17_30 { 
	width:1519px;
	height:635px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/screenshot__1171__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_76 { 
	width:576px;
	height:160px;
	position:absolute;
	left:445px;
	top:237px;
}
.ei1_76_0_449 { 
	color:rgba(255, 255, 255, 1);
	width:576px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto Serif;
	text-align:left;
	font-size:56px;
	letter-spacing:undefined;
	line-height:px;
}
.e1_54 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:804px;
	position:absolute;
	left:0px;
	top:751px;
}
.e1_55 { 
	color:rgba(0, 0, 0, 1);
	width:750px;
	height:144px;
	position:absolute;
	left:80px;
	top:120px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_56 { 
	width:686px;
	height:150px;
	position:absolute;
	left:80px;
	top:324px;
}
.e1_57 { 
	width:686px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_57_0_510 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_58 { 
	width:686px;
	height:90px;
	position:absolute;
	left:0px;
	top:60px;
}
.ei1_58_0_513 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:1;
	line-height:px;
}
.e1_59 { 
	width:686px;
	height:141.47230529785156px;
	position:absolute;
	left:827px;
	top:324px;
}
.e1_60 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_61 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:621px;
	height:81.47230529785156px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:1;
	line-height:px;
}
.e1_62 { 
	width:686px;
	height:150px;
	position:absolute;
	left:80px;
	top:534px;
}
.e1_63 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_64 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:1;
	line-height:px;
}
.e1_65 { 
	width:686px;
	height:141.47230529785156px;
	position:absolute;
	left:827px;
	top:534px;
}
.e17_37 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:621px;
	height:81.47230529785156px;
	position:absolute;
	left:3px;
	top:60px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:1;
	line-height:px;
}
.e1_66 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_32 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1519px;
	height:600px;
	position:absolute;
	left:0px;
	top:1556px;
}
.e1_34 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:80px;
	top:225px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_35 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:80px;
	top:285px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:1;
	line-height:px;
}
.e23_26 { 
	width:512px;
	height:512px;
	position:absolute;
	left:941.199951171875px;
	top:44px;
	background-image:url(images/coding_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_68 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:248px;
	position:absolute;
	left:0px;
	top:2157px;
}
.e1_69 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:539px;
	top:120px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_70 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:301px;
	height:24px;
	position:absolute;
	left:1172px;
	top:120px;
	font-family:Montserrat;
	text-align:right;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_71 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:712px;
	top:120px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e1_72 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:883px;
	top:120px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e17_44 { 
	width:212.00001525878906px;
	height:55.572811126708984px;
	position:absolute;
	left:0px;
	top:109px;
}
.ei17_44_0_421 { 
	color:rgba(0, 0, 0, 1);
	width:152.3106689453125px;
	height:55.572811126708984px;
	position:absolute;
	left:59.689300537109375px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:30.000001907348633px;
	letter-spacing:-1.5;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-family:Roboto;
	background-color: #7aa8b7;
	border-radius: 6px;
	outline: none;
	position: relative;
	left:300px;
	top:350px;
  }